{
	"semi": true,
	"singleQuote": true,
	"printWidth": 70,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"plugins": ["prettier-plugin-tailwindcss"]
}
